<div id="pi-error-info-beamer" class="alert alert-danger check-status" role="alert">
    Couldn't connect to
    <a href="https://info-beamer.com" rel="noopener noreferrer" target="_blank">info-beamer.com</a>.
    Please check the connection to the internet.
</div>

<div id="pi-error-device-missing" class="alert alert-danger check-status" role="alert">
    The Info-Beamer Pi ({{pi-id}}) seems to be missing.
    You might need to powercycle the device. (Or plug it in, first.)
</div>

<div id="pi-error-device-wrong-setup" class="alert alert-danger check-status" role="alert">
    The Info-Beamer Pi ({{pi-id}}) is running the wrong setup:
    "{{pi-setup-name}}" ({{pi-setup-id}}) instead of
    "{{pi-expected-setup-name}}" ({{pi-expected-setup-id}}).
    <a href="#" onclick="piChangeSetup()" class="alert-link">Change to {{pi-expected-setup-name}}?</a>
</div>

<div id="pi-error-assign-setup" class="alert alert-danger check-status" role="alert">
    Couldn't assign setup "{{pi-setup-name}}" ({{pi-setup-id}}) to the Info-Beamer Pi ({{pi-id}}).
    <a href="#" onclick="piChangeSetup()" class="alert-link">Retry?</a>
</div>

<div id="pi-success" class="alert alert-success check-status" role="alert">
    The Info-Beamer Pi ({{pi-id}}) is running the setup "{{pi-setup-name}}" ({{pi-setup-id}}).
</div>

<div id="pi-warning-device-offline" class="alert alert-warning check-status" role="alert">
    The Info-Beamer Pi ({{pi-id}}) seems to be currently offline.
    You might need to powercycle the device. (Or plug it in, first.)
</div>

<div id="pi-warning-device-not-synced" class="alert alert-warning check-status" role="alert">
    The Info-Beamer Pi ({{pi-id}}) seems to be out of sync.
    Please wait a bit and then try re-checking.
    If that doesn't help, you might need to powercycle the device.
</div>

<div id="network-error" class="alert alert-danger check-status" role="alert">
    A network error occurred (reason: "{{network-error-reason}}").
    Please check your network connection.
</div>
